@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags
{
    <meta name="description" content="Index Page" />
    <meta name="keywords" content="Index Keyword" />
} 

<h2>Home</h2>