<div id="templatemo_banner_wrapper">
	<div id="templatemo_banner">
    
    	<div id="templatemo_banner_image">
        	<div id="templatemo_banner_image_wrapper">
            	<img src="~/Content/images/templatemo_image_01.jpg" alt="image 1" />
            </div>
        </div>        
    
    	<div class="cleaner"></div>
    </div>
</div>