
<div id="templatemo_header_wrapper">
  <div id="templatemo_header">
    
   	<div id="site_logo">
           <img src="~/Content/images/Delta_Logo.png" alt="DeltaX" class="logo-inverse">
   	</div>
        
		<div id="templatemo_menu">
      		<div id="templatemo_menu_left"></div>
             <ul>
                <li><a href="~/Home/Index">Home</a></li>
                <li><a href="~/Movies/Index">Movies</a></li>
                <li><a href="~/Actor/Index">Actors</a></li>
                <li><a href="~/Producer/Index">Producers</a></li>
            </ul>    	
		</div>    
    </div>
</div> 
